.custom-navbar {
    background-color: #CFB87C;
    color: black;
}

.custom-navbar .nav-link {
    color: black !important;
    font-weight: 500;
}

footer {
    background-color: #CFB87C;
    color: #111827;
    padding: 0.75rem 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

footer p {
    margin: 0;
}